<li>
    {{ name }}

    <button type="button" class="btn {{#if devoured}}btn-danger{{else}}btn-warning{{/if}} btn-lg changeBurger" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devoured{{else}}Eat{{/if}}
    </button>
</li>